@charset "UTF-8";

ul {
	list-style-type: none;
}

header {
	height: 590px;
	/*background-image: url(../img/bg_noice_01.gif);*/
	/*background-image: url(../img/bg_th_noice.jpg);*/
	/*background: url(../img/matsuri_jyugoya_06.jpg) top left;*/
	background: url(../img/bg_header.jpg) top left;
	color: #666;
	text-shadow: -1px 1px 0 rgba(255,255,255,0.3);
}
header h1 {
	padding: 10px 0;
}

header .header-wrap {
	background-color: rgba(255,255,255,0.6);
}

.headerNav ul li,
.footerNav ul li {
	/*width: 24.6667%;*/
	width: 19.6%;
}

.mainVisual {
	height: 0;
}

.matsuriArea h3 {
	margin-left: 0;
}

.matsuriArea li div.matsuri-comment {
	float: left;
	padding: 2em;
	width: 40%;
}

.matsuriArea li div.matsuri-img {
	float: right;
	padding-top: 2em;
	width: 40%;
	text-align: right;
}

.matsuriArea li div.matsuri-img img {
	width: 100%;
	max-width: 400px;
}
.matsuriArea li div.matsuri-img-thumb {
	clear: both;
	text-align: right;
}
.matsuriArea li div.matsuri-img-thumb img {
	height: 150px;
}
img.border_radius {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#kishitsu blockquote {
	background-color: #ddd;
	padding: 3em 1em;
	position: relative;
}
#kishitsu blockquote:before {
	content: "“";
	font-size: 600%;
	line-height: 1em;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
	color: #999;
	position: absolute;
	left: 0;
	top: 0;
}
#kishitsu blockquote:after {
	content: "”";
	font-size: 600%;
	line-height: 0em;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
	color: #999;
	position: absolute;
	right: 0;
	bottom: 0;
}

.collegeArea h3 {
	margin: 0 2% 0 0;
}
.collegeArea h3 span {
	border-radius: 120px;
	width: 240px;
	height: 240px;
}
.collegeArea li div.college-comment {
	line-height: 2.2;
}

@media only screen and (min-width: 500px) and (max-width: 787px) {

header {
        height: 540px;
}       
}

@media only screen and (min-width: 788px) and (max-width: 1110px) {

header {
	height: 520px;
}
}

@media only screen and (max-width: 499px) {

header {
	height: 550px;
}

.collegeArea h3 span {
	padding: 5px 0;
	width: 100%;
	height: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	display: block;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 120%;
}

}
